<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
<head>
  <title>Login</title>
</head>
<body>
  {% block conteudo %}
  <section class="ftco-section">
      <div class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>LOGIN</h2>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-4 ftco-animate img" style="background-image: url('{% static "images/lanche3.png" %}');"></div>
          <div class="col-md-6 ftco-animate makereservation p-5 bg-light">
                <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <div class="col-md-6">
                    <div class="form-group">
                      <h4>{{field.label}}: 
                      {{ field }}</h4>
                      </br>
                    </div>
                  </div>
                {% endfor %}
                      <button type="submit" class="btn btn-primary py-3 px-5">Entrar</button> 
                </form>
          </div>
        </div>
      </div>
  </section>


  
{% endblock %}
</body>
</html>