<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html>
<head>
  <title></title>
</head>
<body>
{% block conteudo %}
<section class="ftco-section">
      <div class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>CADASTRO</h2>
          </div>
        </div>
        <form method="post">
        {% csrf_token %}
        <p>Usuário: {{form.username}}</p>
        <p>Senha: {{form.password1}}</p>
        <p>Repetir Senha: {{form.password2}}</p>
        <ul>
          <p>Sua senha precisa conter:</p>
          <li>No mínimo 8 caracteres</li>
          <li>Ter letras e números</li>
          <li>Não pode conter dados do nome do usuário na senha</li>
        </ul>

        <button type="submit">Cadastrar</button>  
        </form>
    </section>
{% endblock %}
</body>
</html>