<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
	<title></title>
</head>
<body>
{% block conteudo %}
<br />
<br />
<div class="row">
      <div class="col-lg-12 mb-12">
        
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="controls text-center">
            <h2>Categoria: </h2> 
            <br />
            <p>{{form.nome}}</p>
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Salvar</button>
        </div>
	</form>
    </div>
  </div>    
    
{% endblock %}
</body>
</html>