<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

    
    <!-- END slider -->



<!-- daqui pra cima -->
    {% block conteudo %}
    <br/>
    <br/>
     <section class="ftco-section-2">
      <div class="container d-flex">
        <div class="section-2-blocks-wrapper row">
          <div class="img col-sm-12 col-lg-4" style="background-image: url('{% static "images/lanchonetecop.jpg" %}');">
          </div>
          <div class="text col-lg-8 ftco-animate">
            <div class="text-inner align-self-start">
              <span class="subheading">Sobre a Lanchonete Da Hora</span>
              <h3 class="heading">Os mais deliciosos lanches da região para você!</h3>
              <p>A lanchonete da Hora é rica em uma variedade salgados, doces e bebidas. Além disso, estamos sempre preocupados com a sua satisfação e o seu bolso. É você comendo bem sem gastar muito.</p>

              <p>ESCOLHA O SEU E DEGUSTE!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>MENU</h2>
          </div>
        </div>
        <form action="/pedido/" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-12 dish-menu">

              <div class="nav nav-pills justify-content-center ftco-animate" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              
                {% for categoria in categorias %}
                <a class="nav-link py-3 px-4 {% if forloop.first %}active{% endif %}" id="categoria-{{categoria.id}}-tab" data-toggle="pill" href="#categoria-{{categoria.id}}" role="tab" aria-controls="categoria-{{categoria.id}}" aria-selected="false">{{categoria.nome}}</a>
                {% endfor %}
              </div>

              <div class="tab-content py-5" id="v-pills-tabContent">
                {% for categoria in categorias %}
                  {% for produto in categoria.produto_set.all %}
                    <div class="tab-pane fade show {% if forloop.parentloop.first %}active{% endif %}" id="categoria-{{categoria.id}}" role="tabpanel" aria-labelledby="categoria-{{categoria.id}}-tab">
                      <div class="row">
                        <div class="menus d-flex ftco-animate">
                          <div class="menu-img" style="background-image: url('/media/{{produto.imagem}}');">
                          </div>
                          <div class="text d-flex">
                            <div class="one-half">
                              <h3>{{produto.nome}}</h3>
                              <p>{{produto.descricao}}</p>
                            </div>
                            <div class="one-forth">
                              <span class="price">{{produto.preco}}</span>
                              <input type="number" name="pedido-{{produto.id}}" placeholder="Quantidade" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-sm-12 pt-4 text-center ftco-animate">
            <span><button type="submit" class="btn btn-primary btn-outline-primary p-3">FAÇA UM PEDIDO</button></span>
          </div>
        </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    
{% endblock %}

    
  </body>
</html>
